#parse("common/extensions-v14.vm")
<title>选择接收人</title>
<style type="text/css">
	.linkbutton_group {
        border-bottom: 1px solid #95B8E7;
        background-color: #eee;
    }
</style>
<body>
	<div id="centraltab" class="easyui-layout" style="width:100%;height:100%;">
    	<div region='west' split='false' style='width:375px' >
    		<table id='lgrid'>
			<div id="tb" style="padding:2px 5px;">
				指标名称
            	<input id="searchVal" class="easyui-textbox" name="searchVal" style="width:120px"/>
                <a href="#" class="easyui-linkbutton" iconCls="icon-search" plain="true" onClick="doQuery()">查询</a>
			</div>
			</table>
    	</div>
    	<div region='center' split='true' style='background-color:#eee;text-align:center'>
			<div style="height: 178px;"></div>
    		<a class='easyui-linkbutton' iconCls='icon-right-arrow' style='width:30px' id='addBtn' ></a>
			<div style="height: 10px;"></div>
    		<a class='easyui-linkbutton' iconCls='icon-left-arrow' style='width:30px' id='delBtn' ></a>
    	</div>
    	<div region='east' split='false' style='width:375px'>
    		<table id='rgrid'></table>
    	</div>
	</div>
</body>
