#parse("common/extensions-v14.vm")
<link href="$contextpath/component/uploadify/uploadify.css" rel="stylesheet" type="text/css" /> 
<style type='text/css'>
    td{
    	text-align:left;
    }
</style>
<script type="text/javascript" src="$contextpath/component/uploadify/jquery.uploadify-3.1.min.js"></script>	
<script type="text/javascript" src="$contextpath/templates/aros/common/arosCommon.js"></script>
	
<form id="xzfyReqForm" method="post">
	<div>
    	<table class="list" style="border-top:1px solid #99CCFF;vertical-align:middle;">
    		<!--隐藏属性start-->
    			<input type="hidden" id="caseid" name="caseid"/><!--案件ID-->
    			<input type="hidden" id="fjkeyid" name="fjkeyid" value="${fjkeyid}"/><!--附件keyid-->
    		<!--隐藏属性end-->
			<tr>
    			<th style="font-weight:bold;height:14px;">查询码：</th>
    			<td style="height:14px;" colspan="3">$!{casebaseinfo.key}</td>
    		</tr>
    		<tr>
    			<th style="font-weight:bold;height:14px;">申请人：</th>
    			<td style="height:14px;">$!{casebaseinfo.appname}</td>
    			<th style="font-weight:bold;height:14px;">申请人类型：</th>
    			<td>$!{casebaseinfo.apptypename}</td>
    		</tr>
    		<tr>
    			<th style="font-weight:bold;height:14px;">证件类型：</th>
    			<td>$!{casebaseinfo.idtypename}</td>
    			<th style="font-weight:bold;height:14px;">证件号码：</th>
    			<td>$!{casebaseinfo.idcode}</td>
    		</tr>
			<tr>
    			<th style="font-weight:bold;height:14px;">所属区域：</th>
    			<td>$!{casebaseinfo.regionname}</td>
    			<th style="font-weight:bold;height:14px;">联系手机：</th>
    			<td>$!{casebaseinfo.mobile}</td>
    		</tr>
    		<tr>
    			<th style="font-weight:bold;height:14px;">邮箱：</th>
    			<td>$!{casebaseinfo.email}</td>
    			<th style="font-weight:bold;height:14px;">邮政编码：</th>
    			<td>$!{casebaseinfo.postcode}</td>
    		</tr>
    		<tr>
    			<th style="font-weight:bold;height:14px;">通讯地址：</th>
    			<td colspan="3">$!{casebaseinfo.address}</td>
            </tr>
			<tr>
    			<th style="font-weight:bold;height:14px;">邮寄地址：</th>
    			<td colspan="3">$!{casebaseinfo.mailaddress}</td>
            </tr>
    		<tr>
    			<th style="font-weight:bold;height:14px;">被申请人：</th>
    			<td>$!{casebaseinfo.defname}</td>
    			<th style="font-weight:bold;height:14px;">被申请人类型：</th>
    			<td>$!{casebaseinfo.deftypename}</td>
    		</tr>
    		<tr>
    			<th style="font-weight:bold;height:14px;">行政管理类型：</th>
    			<td>$!{casebaseinfo.admtypename}</td>
    			<th style="font-weight:bold;height:14px;">申请复议事项类型：</th>
    			<td>$!{casebaseinfo.casetypename}</td>
    		</tr>
    		<tr>
    			<th style="font-weight:bold;height:14px;">是否附带行政赔偿：</th>
    			<td>$!{casebaseinfo.ifcompensationname}</td>
    			<th style="font-weight:bold;height:14px;">赔偿金额：</th>
    			<td>$!{casebaseinfo.amountstr}（元）</td>
    		</tr>
    		<tr>
    			<th style="font-weight:bold;height:14px;">申请事项：</th>
    			<td colspan="3">$!{casebaseinfo.appcase}</td>
            </tr>
    		<tr>
    			<th style="font-weight:bold;height:14px;">事实和理由：</th>
    			<td colspan="3">$!{casebaseinfo.factreason}</td>
            </tr>
    		<tr>
                <th style="font-weight:bold;height:14px;">相关附件：</th>
    			<td colspan="3" valign='top' style="height:40px" id="filetd"></td>
            </tr>
        </table>
	</div>
</form>
	
<!--上传附件层-->
<div id="uploadifydiv"></div>