#parse("common/extensions-v14.vm")
<link href="$contextpath/component/uploadify/uploadify.css" rel="stylesheet" type="text/css" /> 
<style type="text/css">
	table{
		border-top:1px solid #99CCFF;
	}
	td{
    	text-align:left;
    }
</style>
<script type="text/javascript" src="$contextpath/component/uploadify/jquery.uploadify-3.1.min.js"></script>	
<script type="text/javascript" src="$contextpath/templates/aros/common/arosCommon.js"></script>
	
<form id="xzfyCancelReqForm" method="post">
	
	<!--隐藏属性start-->
		<input type="hidden" id="caseid" name="caseid"/><!--案件ID-->
		<input type="hidden" id="fjkeyid" name="fjkeyid" value="${fjkeyid}"/><!--附件keyid-->
	<!--隐藏属性end-->
				
	<div>
    	<table class="list">
    		<tr>
    			<th style="font-weight:bold;height:14px;">撤销原因：</th>
    			<td colspan="3">
    				<input id="remark" class="easyui-textbox" name="remark" multiline="true" required="true" missingMessage="请输入撤销原因" 
    					data-options="prompt:'最多可输入500个汉字',validType:{length:[0,500]}" style="width:700px;height:65px;" 
    					value="$!{remark}"/>
					<span style="color:red;">*</span>
    			</td>
    		</tr>
        </table>
	</div>
</form>