#parse("common/extensions-v14.vm")
<link href="$contextpath/component/uploadify/uploadify.css" rel="stylesheet" type="text/css" /> 
<script type="text/javascript" src="$contextpath/component/uploadify/jquery.uploadify-3.1.min.js"></script>	
<script type="text/javascript" src="$contextpath/templates/ppp/common/pppCommon.js"></script>
<script type="text/javascript" src="$contextpath/templates/ppp/xmcb/js/xmcb_form.js"></script>

<style type='text/css'>
input {
	line-height:20px;
	border:1px solid #95B8E7;
}
</style>
<form id="projectAddForm" method="post">
	<table class="list">
    		<!--隐藏属性start
    			-->
			<input type="hidden" id="xmid" name="xmid"/><!--项目id-->
			<input type="hidden" id="fjkeyid" name="fjkeyid" value='${fjkeyid}'/><!--项目附件id 临时使用-->
			<input type="hidden" id="menuid" name="menuid" /><!--菜单id-->
			<input type="hidden" id="wfid" name="wfid" /><!--工作流id-->
			<input type="hidden" id="activityId" name="activityId" /><!--工作流节点id-->
			<input type="hidden" id="workflowflag" name="workflowflag" /><!--工作流标识-->
			<input type="hidden" id="sshy" name="sshy" /><!--所属行业-->
    		<!--隐藏属性end
    		-->
    		<tr>
    			<th >项目名称</th>
    			<td colspan="3">
    				<input id="xmmc" class="easyui-textbox" name="xmmc" required="true"   missingMessage="请输入项目名称"
						 data-options="validType:{length:[0,50]}" style='width:695px'/>
    			</td >
    		</tr>
    		<tr>
    			<th >项目类型</th>
    			<td >
    				<input id="xmlx" class="easyui-textbox" name="xmlx"  required="true" missingMessage="请选择项目类型" style='width:250px' />
    			</td>
    			<th >项目总投资(万元)</th>
    			<td>
    				<input id="xmzje" name="xmzje"  class="easyui-numberbox" required="true" missingMessage="请输入投资金额"  
						data-options="min:0,precision:2,max:99999999999999.99" style='width:250px'/>
    			</td>
    		</tr>
    		<tr >
    			<th >拟合作期限(年)</th>
    			<td >
    				<input id="hznx" name="hznx"  required="true" missingMessage="请输入合作期限"  
						 class="easyui-numberbox" data-options="min:0,precision:0,max:99"   style='width:250px'/>
    			</td>
    			<th >项目运作方式</th>
    			<td>
    				<input id="yzfs" name="yzfs"  required="true" missingMessage="请选择运作方式"   class="easyui-textbox"  style='width:250px' />
    			</td>
            </tr>
    		<tr>
    			<th>所属行业</th>
    			<td >
    				<input id="sshyMc" name="sshyMc"   required="true" missingMessage="请选择所属行业"   class="easyui-textbox" style='width:250px' />
    			</td>	
    			<th >回报机制</th>
    			<td >
    				<input id="hbjz"  name="hbjz" class="easyui-textbox"  required="true" missingMessage="请选择回报机制"  style='width:250px' 
    				data-options="validType:{length:[0,50]}"/>
				</td>
			</tr>
			<tr>
				<th>项目发起人名称</th>
    			<td >
    				<input id="fqrmc" name="fqrmc" class="easyui-textbox" data-options="validType:{length:[0,50]}" 
    				 required="true" missingMessage="请输入项目发起人名称"   style='width:250px'/>
    			</td>
    			<th >项目发起时间</th>
    			<td >
    				<input id="fqsj" name="fqsj" class="easyui-datebox" editable="false" 
    				required="true" missingMessage="请选择项目发起时间"  style='width:250px' />
    			</td>
    		</tr>
			<tr>
    			<th >项目发起类型</th>
    			<td >
    				<input id="fqlx" class="easyui-textbox" name="fqlx" style='width:250px'  
    				required="true" missingMessage="请选择项目发起类型" />
				</td>
    			<th >所属县区</th>
    			<td >
    				<input id="ssxq" class="easyui-textbox" name="ssxq" style='width:250px'  
    				required="true" missingMessage="请选择项目发起类型" />
				</td>
            </tr>
			<tr>
    			<th >项目联系人</th>
    			<td >
    				<input id="xmlxr" name="xmlxr" class="easyui-textbox" data-options="validType:{length:[0,25]}" 
    				style='width:250px'  required="true" missingMessage="请选择项目联系人"/>
				</td>
				<th>联系人电话</th>
    			<td >
					<input id="lxrdh" name="lxrdh"   required="true" missingMessage="请输入联系人电话，多个用,隔开"  
						 class="easyui-textbox" data-options="validType:{length:[0,50]}"   style='width:250px'/>
    			</td>
            </tr>
			<tr>
    			<th >示范项目</th>
    			<td >
    				<input id="sfxm" name="sfxm" class="easyui-textbox" required="true" missingMessage="请选择示范项目类型" style='width:250px'/>
				</td>
				<th>推介项目</th>
    			<td >
					<input id="sftjxm" name="sftjxm"  class="easyui-textbox" required="true" missingMessage="请选择是否推介项目" style='width:250px'/>
    			</td>
            </tr>
			<tr>
    			<th >申请补贴</th>
    			<td >
    				<input id="sfsqbt" name="sfsqbt" class="easyui-textbox" required="true" missingMessage="请选择是否申请补贴" style='width:250px'/>
				</td>
				<th>补贴金额(万元)</th>
    			<td >
					<input id="btje" name="btje"  class="easyui-numberbox"  data-options="precision:2,max:99999999999999.99"   style='width:250px'/>
    			</td>
            </tr>
			<tr>
				<th>项目概况</th>
				<td colspan="3">
					<input id="xmgk" class="easyui-textbox" name="xmgk" multiline="true" 
					required="true" missingMessage="请输入项目概况" data-options="prompt:'最多可输入500个汉字',validType:{length:[0,500]}" style="width:695px;height:65px;" />
				</td>
			</tr>	
			<tr>
				<th>初步实施方案描述</th>
				<td colspan="3">
					<input id="cbssfa" class="easyui-textbox" name="cbssfa" multiline="true" 
					required="true" missingMessage="请输入初步实施方案" data-options="prompt:'最多可输入500个汉字',validType:{length:[0,500]}" style="width:695px;height:65px;" />
				</td>
			</tr>
			<tr>
	            <th>相关附件</th>
				<td colspan="3" valign='top' style="height:40px" id="filetd">
				<img src="component/jquery-easyui-1.4/themes/icons/files.png" style="float:right;cursor:pointer" onClick="clickUploadDiv('XMCB')"/>
	            </td>
            </tr>
    </table>
	  <font color="red">${fjts}
	  </font>
		 
</form>
<!--上传附件层-->
<div id='uploadifydiv'></div>
