<!DOCTYPE>
<html>
<head>
#parse("common/common-v14.vm")
#parse("common/extensions-v14.vm")
<title>账户变更</title>
<script type="text/javascript" src="$contextpath/templates/fam/manage/record/js/record_init.js"></script>
<script type="text/javascript" src="$contextpath/templates/fam/manage/common/accountCommon.js"></script>
<script type="text/javascript">
var menuid = "$menuid";
var activityId = "$activityId";
var allbdgagency ="$allbdgagency";
var userid ="$userid";
</script>
<style type="text/css">
	.cs-west{
		width: 50%;
		padding: 0;
	}
	.linkbutton_group{
		border-bottom: 1px solid #95B8E7;
	}
</style>
#**
	账户变更功能
	@author  xinpeng 
	@date 2015年4月14日9:20:29
*#
</head>
<body id="layout" class="easyui-layout">
	 <div data-options="region:'center',split:false" >
        <div id="toolbar_center" class="toolbar_group" >
			
			<input type="hidden" id="menuid" name="menuid" value="$menuid" />
    		<input type="hidden" id="activityId" name="activityId" value="$activityId" />
			<input type="hidden" id="firstNode" name="firstNode" value="$firstNode" />
    		<input type="hidden" id="lastNode" name="lastNode" value="$lastNode" />
			
			<div class="toolbar_buttons">
				<a id="btn_query" href="#" class="easyui-linkbutton" iconCls="icon-search" plain="true" onClick="topGridQuery()" >查询</a>
				<span class='xian' ></span>
    			<a id="btn_add" href="#" class="easyui-linkbutton" iconCls="icon-add" plain="true" onClick="recordInit()">新增</a>
				<span class='xian' ></span>
    			<a id="btn_edit" href="#" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onClick="recordInitEdit()">修改</a>
				<span class='xian' ></span>
    			<a id="btn_submit" href="#" class="easyui-linkbutton" iconCls="icon-redo" plain="true" onClick="submitRecordInfo()">送审</a>
				<span class='xian' ></span>
    			<a id="btn_revoke" href="#" class="easyui-linkbutton" iconCls="icon-undo" plain="true" onClick="removeRecordInfo()">撤回</a>
				<span class='xian' ></span>
    			<a id="btn_view" href="#" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onClick="recordInitView()">详情</a>
				<span class='xian' ></span>
    			<a id="btn_flow" href="#" class="easyui-linkbutton" iconCls="icon-view" plain="true" onClick="workflowMessage()">流程信息</a>
				<span class='xian' ></span>
    			<a href="#" class="easyui-linkbutton" iconCls="icon-excel" plain="true" onClick="outRecordAppicationForm()">备案申请表</a>
            </div>
    		<div id="qpanel1" class="easyui-panel collapsable-toolbar-w" collapsible="true" style="width:100%;padding:1px">
				<table style='width:100%'>
                    <tr>
        				<td style='font-size:12px;text-align:end;width:8%' >处理状态</td>
        				<td style='font-size:12px;width:13%' ><input id="dealStatus" class="easyui-combobox" style="width:97%;" /></td>
        				<td style='font-size:12px;text-align:end;width:8%'>处理类型</td>
        				<td style='font-size:12px;width:13%'> <input id="processedStatus" class="easyui-combobox"  style="width:97%" /></td>
        				<td style='font-size:12px;text-align:end;width:8%'>预算单位</td>
        				<td style='font-size:12px;width:20%'><input id="topBdgagency" class="easyui-textbox"  style="width:97%" editable='false'/></td>
						<td style='font-size:12px;width:247%'> </td>
					</tr>  
                    <tr>
        				<td style='font-size:12px;text-align:end;width:8%'>备案类型</td>
        				<td style='font-size:12px;width:13%'>
    						<select  id="type" class="easyui-combobox" style=" width:97%;" multiple ="true" editable='false' >
            					<option value="1">开立</option> 
            					<option value="2">变更</option> 
            					<option value="3">注销</option> 
    						</select>
						</td>
        				<td style='font-size:12px;text-align:end;width:8%'>账户名称</td>
        				<td style='font-size:12px;width:13%'><input id="topAccountName" class="easyui-textbox"  style="width:97%" /></td>
						<td style='font-size:12px;text-align:end;width:8%'>备案时间</td>
        				<td style='font-size:12px;width:20%'>
							<input id="starttime" class="easyui-datebox" style='width:45%' />至<input id="endtime" class="easyui-datebox" style='width:45%'  />
						</td>
						<td style='font-size:12px;width:27%'> </td>
					</tr>
                </table>
				<!--&nbsp;<input class="easyui-combobox" id="dealStatus" style='width:13%'/>
				处理类型 <input class="easyui-combobox" id="processedStatus" style='width:13%'/>
				备案类型 <select  id="type" class="easyui-combobox" style=" width:13%;" multiple ="true" editable='false' >
    					<option value="1">开立</option> 
    					<option value="2">变更</option> 
					</select>
    			预算单位 <input id="topBdgagency" class="easyui-textbox"  style="width:30%;" editable='false'/>
    			新账户名称 <input id="topAccountName" class="easyui-textbox"  style="width:30%;" /> -->
    		</div>
		</div>
		<table id="recordAccountDataGrid"></table>
	 </div>    
	  <div data-options="region:'south',title:'可备案账户信息',split:false" style="height:45%;width:100%;">
        <div id="toolbar_account" class="toolbar_group">
    		<div id="qpanel2" class="easyui-panel collapsable-toolbar-w" collapsible="true" style="width:100%;padding:1px">
    				&nbsp;预算单位 <input id="downBdgagency" class="easyui-textbox"  style="width:150px;" editable='false'/>
					备案类型 <select  id="downtype" class="easyui-combobox" style=" width:90px;" multiple ="true" editable='false' >
    					<option value="1">开立</option> 
    					<option value="2">变更</option> 
    					<option value="3">注销</option> 
					</select>
					账户类型 <input id="downAccountType" class="easyui-textbox"  style="width:100px;" />
					账户名称 <input id="downAccountName" class="easyui-textbox"  style="width:100px;" />
    				<a href="#" class="easyui-linkbutton" iconCls="icon-search" plain="false" onClick="downGridQuery()" >查询</a>
    		</div>
		</div>
		<table id="accountDataGrid"></table>
	 </div>   
</body>
</html>