<!DOCTYPE>
<html>
<head>
#parse("common/common-v14.vm")
#parse("common/extensions-v14.vm")
<title>信息查看</title>
<script type="text/javascript">
    // 菜单ID
    var menuid = "$menuid";
    // 类型
    var contype = "$contype";
</script>
<script type="text/javascript" src="$contextpath/templates/aros/wyInfoManage/js/contentbaseinfo_showInit.js"></script>
<script type="text/javascript" src="$contextpath/templates/aros/common/arosCommon.js"></script>
</head>
<body id="layout" class="easyui-layout">
     <div data-options="region:'center',split:false" >
        <div id="toolbar_center" class="toolbar_group" >
            <input type="hidden" id="menuid" name="menuid" value="$menuid" />
            <div class="toolbar_buttons">
	            <a href="#" id="queryBtn" class="easyui-linkbutton" iconCls="icon-search" plain="true" onClick="doQuery()" >查询</a>
	            <span class="xian"></span>                
	            <a href="#" id="showDetailBtn" class="easyui-linkbutton" iconCls="icon-view" plain="true" onClick="showView()">详情</a>
            </div>
            <div id="queryPanel" class="easyui-panel collapsable-toolbar-w" collapsible="true" >
                 <table style="border:0px;font-size:12px;">
                    <tr>
                        <td style='text-align:right;padding-left:30px;'>标题：</td>
                        <td style='text-align:left'>
                            <input id="title" class="easyui-textbox" style='width:150px'>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <table id="showDataGrid"></table>
     </div>    
</body>
</html>