#parse("common/extensions-v14.vm")
<link href="$contextpath/component/uploadify/uploadify.css" rel="stylesheet" type="text/css" /> 
<script type="text/javascript" src="$contextpath/component/uploadify/jquery.uploadify-3.1.min.js"></script>	
<script type="text/javascript" src="$contextpath/templates/ppp/common/pppCommon.js"></script>
<script type="text/javascript" src="$contextpath/templates/ppp/xmkf/yzfs/js/yzfslr_form.js"></script>
<style type='text/css'>
input {
	line-height:20px;
	border:1px solid #95B8E7;
}
</style>
<form id="yzfslrForm" method="post">
	<div id="tabList" class="easyui-tabs" >   
		<div title="项目信息">      
			<table class="list">
        		<!--隐藏属性start
        			-->
    			<input type="hidden" id="xmidProde" name="xmidProde"/><!--项目id-->
    			<input type="hidden" id="sshyProde" name="sshyProde" /><!--所属行业-->
        		<!--隐藏属性end
        		-->
        		<tr>
        			<th >项目名称</th>
        			<td colspan="3">
        				<input id="xmmcProde" class="easyui-textbox" name="xmmcProde" required="true"  readonly='true' style='width:695px'/>
        			</td >
        		</tr>
        		<tr>
        			<th >项目类型</th>
        			<td >
        				<input id="xmlxMcProde" class="easyui-textbox" name="xmlxMcProde" readonly='true' style='width:250px' />
        			</td>
        			<th >项目总投资(万元)</th>
        			<td>
        				<input id="xmzjeProde" name="xmzjeProde"  class="easyui-numberbox" readonly='true' style='width:250px'/>
        			</td>
        		</tr>
        		<tr >
        			<th >拟合作期限(年)</th>
        			<td >
        				<input id="hznxProde" name="hznxProde" class="easyui-textbox" readonly='true' style='width:250px'/>
        			</td>
        			<th >项目运作方式</th>
        			<td>
        				<input id="yzfsMcProde" name="yzfsMcProde" class="easyui-textbox"   readonly='true' style='width:250px' />
        			</td>
                </tr>
        		<tr>
        			<th>所属行业</th>
        			<td >
        				<input id="sshyMcProde" name="sshyMcProde"  class="easyui-textbox"  readonly='true'   class="easyui-textbox" style='width:250px' />
        			</td>	
        			<th >回报机制</th>
        			<td >
        				<input id="hbjzMcProde"  name="hbjzMcProde" class="easyui-textbox"  readonly='true'  style='width:250px' />
    				</td>
    			</tr>
    			<tr>
    				<th>项目发起人名称</th>
        			<td >
        				<input id="fqrmcProde" name="fqrmcProde" class="easyui-textbox"  readonly='true'  style='width:250px'/>
        			</td>
        			<th >项目发起时间</th>
        			<td >
        				<input id="fqsjProde" name="fqsjProde" class="easyui-textbox"  readonly='true' style='width:250px' />
        			</td>
        		</tr>
    			<tr>
        			<th >项目发起类型</th>
        			<td >
        				<input id="fqlxMcProde" class="easyui-textbox" name="fqlxMcProde" style='width:250px' readonly='true'/>
    				</td>
        			<th >所属县区</th>
        			<td >
        				<input id="ssxqMcProde" class="easyui-textbox" name="ssxqMcProde" style='width:250px' readonly='true'/>
    				</td>
                </tr>
    			<tr>
        			<th >项目联系人</th>
        			<td >
        				<input id="xmlxrProde" name="xmlxrProde" class="easyui-textbox"  readonly='true' style='width:250px' />
    				</td>
    				<th>联系人电话</th>
        			<td >
    					<input id="lxrdhProde" name="lxrdhProde"    readonly='true' class="easyui-textbox"   style='width:250px'/>
        			</td>
                </tr>
    			<tr>
        			<th >示范项目</th>
        			<td >
        				<input id="sfxmMcProde" name="sfxmMcProde" class="easyui-textbox" readonly='true'  style='width:250px'/>
    				</td>
    				<th>推介项目</th>
        			<td >
    					<input id="sftjxmMcProde" name="sftjxmMcProde"  class="easyui-textbox"  readonly='true'  style='width:250px'/>
        			</td>
                </tr>
    			<tr>
        			<th >申请补贴</th>
        			<td >
        				<input id="sfsqbtMcProde" name="sfsqbtMcProde" class="easyui-textbox"  readonly='true'  style='width:250px'/>
    				</td>
    				<th>补贴金额(万元)</th>
        			<td >
    					<input id="btjeProde" name="btjeProde"  class="easyui-numberbox"  readonly='true'  style='width:250px'/>
        			</td>
                </tr>
				<tr>
        			<th >政府资源支出</th>
        			<td>
        				<input id="zfzyzcMcProde" name="zfzyzcMcProde" class="easyui-textbox"  readonly='true'  style='width:250px'/>
    				</td>
    				<th >项目申请单位</th>
        			<td >
        				<input id="orgnameProde" name="orgnameProde" class="easyui-textbox"  readonly='true'  style='width:250px'/>
    				</td>
                </tr>
            	<tr>
    				<th>项目申请人</th>
        			<td >
    					<input id="cjrMcProde" name="cjrMcProde"  class="easyui-textbox"  readonly='true'  style='width:250px'/>
        			</td>
    				<th >申请时间</th>
        			<td colspan="3">
        				<input id="cjsjProde" name="cjsjProde" class="easyui-textbox"  readonly='true'  style='width:250px'/>
    				</td>
                </tr>
    			<tr>
    				<th>项目概况</th>
    				<td colspan="3">
    					<input id="xmgkProde" class="easyui-textbox" name="xmgkProde" multiline="true"  readonly='true'  style="width:695px;height:65px;" />
    				</td>
    			</tr>	
    			<tr>
    				<th>初步实施方案描述</th>
    				<td colspan="3">
    					<input id="cbssfaProde" class="easyui-textbox" name="cbssfaProde" multiline="true"  readonly='true' style="width:695px;height:65px;" />
    				</td>
    			</tr>
    			<tr>
    	            <th>相关附件</th>
    				<td colspan="3" valign='top' style="height:40px" id="filetdProde">
    	            </td>
                </tr>
			</table>
		</div>
		<div title="项目运作备案" > 
			<input type="hidden" id="xmid" name="xmid"/><!--项目id-->
			<input type="hidden" id="yzfsid" name="yzfsid"/><!--备案id-->
			<input type="hidden" id="wfid" name="wfid"/><!--工作流id-->
			<input type="hidden" id="menuid" name="menuid"/><!--菜单id-->
			<input type="hidden" id="activityId" name="activityId"/><!--节点id-->
			
			<table class="list">
				<tr>
        			<th>同意PPP运作</th>
        			<td >
        				<input id="sftyyzfs" name="sftyyzfs" class="easyui-textbox" required="true" missingMessage="是否同意PPP运作" style='width:250px'/>
					</td>
        			<th>开发年度</th>
        			<td >
						<input id="kfnd" name="kfnd" class="easyui-numberspinner" required="true" required="true" missingMessage="请选择开发年度" data-options='min:2010,max:2099' style='width:250px' />
					</td>
				</tr>
				<tr>
        			<th>批准日期</th>
        			<td >
        				<input id="pzrq" name="pzrq" class="easyui-datebox" editable="false" required="true" missingMessage="请选择批准日期" style='width:250px'/>
					</td>
        			<th>采购方式</th>
        			<td >
        				<input id="cgfs" name="cgfs" class="easyui-textbox" required="true" missingMessage="请选择采购方式" style='width:250px'/>
					</td>
				</tr>
				<tr>
					<th>政府审批意见</th>
					<td colspan="3">
    					<input id="spyj" name="spyj" class="easyui-textbox" multiline="true" required="true" missingMessage="请输入政府审批意见" data-options="validType:{length:[0,133]}" style="width:695px;height:65px;"/>
					</td>
				</tr>
				<tr>
					<th>备注</th>
					<td colspan="3">
    					<input id="bz" name="bz" class="easyui-textbox" multiline="true" missingMessage="请输入备注" data-options="validType:{length:[0,666]}" style="width:695px;height:65px;"/>
					</td>
				</tr>
				<tr>
    	            <th>相关附件</th>
    				<td colspan="3" valign='top' style="height:40px" id="filetd">
						<img src="component/jquery-easyui-1.4/themes/icons/files.png" style="float:right;cursor:pointer" onClick="clickUploadDiv('YZFS')"/>
    	            </td>
                </tr>
			</table>
			<font color="red">${fjts}</font>
		</div>
	</div>
</form>
<!--上传附件层-->
<div id='uploadifydiv'></div>