<!DOCTYPE>
<html>
<head>
#parse("common/common-v14.vm")
#parse("common/extensions-v14.vm")
<script type="text/javascript" src="$contextpath/templates/common/component/doubleDatagridSelect.js" ></script>
<script type="text/javascript" src="$contextpath/templates/aros/ajpj/js/bcaseestbaseinfo_list.js"></script>
<script type="text/javascript" src="$contextpath/templates/base/tabsdef/colsDefDialog.js"></script>
<script type="text/javascript" src="$contextpath/templates/aros/common/arosCommon.js"></script>

<title>案件评价信息</title>

<script type="text/javascript">
var menuid = "$menuid";
</script>

<style type="text/css">
	.cs-west{
		width: 50%;
		padding: 0;
	}
	
	.linkbutton_group{
		border-bottom: 1px solid #95B8E7;
	}
</style>
</head>
<body id="layout" class="easyui-layout">
	<div title="案件信息列表" region="center" split="false">
		<div id="toolbar_list" class="toolbar_group" >
			<div class="toolbar_buttons">
    			<a href="#" id="addBtn" class="easyui-linkbutton" iconCls="icon-add" plain="true" onClick="toQuery()">查询</a>   					
            </div>
    		<div id="qpanel1" class="easyui-panel collapsable-toolbar-w" collapsible="true" style="width:100%;border:0px;">
    			<table  class="list" style='border:1px'>
                    <tr>
        				<td style='font-size:12px;border: 0px;text-align:right'>申请人</td>
        				<td style='font-size:12px;border: 0px;text-align:left'>
    						<input id="appname" class="easyui-textbox" style='width:150px' >
    					</td>
   					</tr>
   					<tr>
    					<td style='border: 0px;text-align:right' align="right">被申请人</td>
        				<td style='font-size:12px;border: 0px;text-align:left'>
    						<input id="defname" class="easyui-textbox"  style='width:150px'>
    					</td>
    				</tr>      
    			</table>
        	</div>
        </div>
		<!-- 案件信息列表 -->
		<table id="caseListTab"></table>
	</div>
	<div region="east" title='案件评价信息列表' border="false" split="false" style='width:600px'>		
		<input type="hidden" id="s_caseid" name="s_caseid"/>
		<div id="toolbar_est" class="toolbar_group" >
		<div class="toolbar_buttons">
    			<a href="#" id="addBtn" class="easyui-linkbutton" iconCls="icon-add" plain="true" onClick="projectAdd()">新增</a>
				<span class='xian' ></span>
    			<a href="#" id="editBtn" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onClick="projectUpdate()">修改</a>
				<span class='xian' ></span>
    			<a href="#" id="delBtn" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onClick="projectDelete()">删除</a>
				<span class='xian' ></span>
    			<a href="#" id="viewBtn" class="easyui-linkbutton" iconCls="icon-detail" plain="true" onClick="projectView()">详情</a>    					
            </div>
          </div>  
		<!-- 数据列表 -->
		<table id="caseEstTab"></table>
	</div>		
</body>
</html>