<!DOCTYPE>
<html>
<head>
#parse("common/common-v14.vm")
#parse("common/extensions-v14.vm")
<title>案件评价管理</title>
<script type="text/javascript" src="http://localhost:8080/aros/templates/aros/ajpj/js/bcaseestbaseinfo_init.js"></script>
<script type="text/javascript">
var menuid = "$menuid";
var caseid = "$caseid";
</script>
<style type="text/css">
	.cs-west{
		width: 50%;
		padding: 0;
	}
	.linkbutton_group{
		border-bottom: 1px solid #95B8E7;
	}
	
	
</style>
</head>
<body id="layout" class="easyui-layout" onload="init()">
	 <div data-options="region:'center',split:false" >
        <div id="toolbar_center" class="toolbar_group" >
    		<input type="hidden" id="menuid" name="menuid" value="$menuid" />
    		<input text="hidden" id="caseid" name="caseid" value="$!{caseid}" />
			<div class="toolbar_buttons">
				<a href="#" class="easyui-linkbutton" iconCls="icon-search" plain="true" onClick="projectQuery()" >查询</a>
				<span class='xian' ></span>
    			<a href="#" id="addBtn" class="easyui-linkbutton" iconCls="icon-add" plain="true" onClick="projectAdd()">新增</a>
				<span class='xian' ></span>
    			<a href="#" id="editBtn" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onClick="projectUpdate()">修改</a>
				<span class='xian' ></span>
    			<a href="#" id="delBtn" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onClick="projectDelete()">删除</a>
				<span class='xian' ></span>
    			<a href="#" id="viewBtn" class="easyui-linkbutton" iconCls="icon-detail" plain="true" onClick="projectView()">详情</a>
    			<a href="#" id="delBtn" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onClick="projectDelete()">返回案件列表</a>
				<span class='xian' ></span>				
            </div>
    		<div id="qpanel1" class="easyui-panel collapsable-toolbar-w" collapsible="true" style="width:100%;border:0px;">
				<table  class="list" style='border:1px'>
                    <tr>
        				<th style='font-size:12px;border: 0px;text-align:left'>
        				案件处理质量：<input id="quatype" class="easyui-combobox" style='width:150px' ></th>	
	   				</tr>
				</table>
    		</div>
		</div>
		<table id="projectDataGrid"></table>
	 </div>    
</body>
</html>