#parse("common/extensions-v14.vm")
<link href="$contextpath/component/uploadify/uploadify.css" rel="stylesheet" type="text/css" /> 
<style type='text/css'>
    input {
    	line-height:20px;
    	border:1px solid #95B8E7;
    }
</style>
<script type="text/javascript" src="$contextpath/templates/aros/common/arosCommon.js"></script>
<script type="text/javascript" src="$contextpath/templates/aros/bztx/js/standBaseInfo_form.js"></script>
<form id="bztxForm" method="post">
	<input id="standid" name="standid" hidden="true" />
	<div>
    	<table class="list">
			<tr>
    			<th>标准名称：</th>
    			<td colspan="3">
    				<input id="standardname" class="easyui-textbox" name="standardname" data-options="validType:{length:[0, 50]}" 
						style="width:692px" required="true" missingMessage="请输入标准名称"/>
    			</td>
    		</tr>
			<tr>
    			<th>阶段类型：</th>
    			<td>
    				<input id="stagetype" class="easyui-combobox" name="stagetype"
						style="width:250px" required="true" missingMessage="请选择阶段类型"/>
    			</td>
    			<th>体系类型：</th>
    			<td>
    				<input id="systype" class="easyui-combobox" name="systype"
						style="width:250px" required="true" missingMessage="请选择体系类型"/>
    			</td>
    		</tr>
			<tr>
    			<th>内容：</th>
    			<td colspan="3">
    				<input id="remark" class="easyui-textbox" name="remark"  data-options="multiline:true,validType:{length:[0, 500]}" 
						style="width:692px;height: 67px" required="true" missingMessage="请输入内容"/>
    			</td>
    		</tr>
        </table>
	</div>
</form>
