<!DOCTYPE>
<html>
    <head>
        #parse("common/common-v14.vm")
        #parse("common/extensions-v14.vm")
        <title>规则配置</title>
        
        <script type="text/javascript" src="$contextpath/templates/aros/gzgl/js/brulebaseinfo_init.js"></script>
        <script type="text/javascript" src="$contextpath/templates/aros/common/arosCommon.js"></script>
        <script type="text/javascript">
            //菜单ID
            var menuid = "$menuid";
        </script>
    </head>
    <body id="layout" class="easyui-layout">
        <div data-options="region:'center',split:false" style="border:0px;">
            <div id="toolbar_center" class="toolbar_group" style="border:0px;">
                <input type="hidden" id="menuid" name="menuid" value="$menuid" />
                <div class="toolbar_buttons" style="border:0px;">
                	<a id="openclose" onClick="javascript:panelctl(0);" class="easyui-linkbutton" iconCls="icon-expand" plain="true" ></a>
	                <a href="#" class="easyui-linkbutton" iconCls="icon-search" plain="true" onClick="toQuery()" >查询</a>
	                <span class='xian' ></span>
	                <a href="#" id="addBtn" class="easyui-linkbutton" iconCls="icon-add" plain="true" onClick="ruleAdd()">新增</a>
	                <span class='xian' ></span>
	                <a href="#" id="editBtn" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onClick="ruleUpdate()">修改</a>
	                <span class='xian' ></span>
	                <a href="#" id="delBtn" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onClick="ruleDelete()">删除</a>
	                <span class='xian' ></span>
	                <a href="#" id="delBtn" class="easyui-linkbutton" iconCls="icon-redo" plain="true" onClick="redo()">发布</a>
	                <span class='xian' ></span>
	                <a href="#" id="viewBtn" class="easyui-linkbutton" iconCls="icon-detail" plain="true" onClick="ruleView()">详情</a>                
                </div>
                <div id="queryPanel" class="easyui-panel collapsable-toolbar-w" collapsible="true" style="width:100%; border:0px;">
                 	<table class="list" style="border:0px;font-size:12px;">
	                    <tr>
	                        <td style='border:0px;text-align:right'>状态：</td>
	                        <td style='border:0px;text-align:left'>
	                            <input id="status" class="easyui-combobox" style='width:150px'>
	                        </td>
	                        <td style='border:0px;text-align:right'>规则名称：</td>
	                        <td style='border:0px;text-align:left'>
	                            <input id="selectruelname" class="easyui-textbox" style='width:150px'>
	                        </td>
	                    </tr>
                	</table>
                </div>
            </div>
            <table id="ruleInfoDataGrid"></table>
        </div>
    </body>
</html>