#parse("common/extensions-v14.vm")
<form id="xzfyhearForm" method="post">
    <table class="list">
      <!--隐藏属性start-->
          <input type="hidden" id="caseid" name="caseid" value="${caseid}" /><!--案件ID-->
      <!--隐藏属性end-->
      <tr>
          <th>案件编号：</th>
          <td><span>$!{casebaseinfo.csaecode}</span></td>
      </tr>
      <tr>
          <th>案由：</th>
          <td><span>$!{casebaseinfo.factreason}</span></td>
      </tr>
      <tr>
          <th>申请人：</th>
          <td><span>$!{casebaseinfo.appname}</span></td>
      </tr>
      <tr>
          <th>被申请人：</th>
          <td><span>$!{casebaseinfo.defname}</span></td>
      </tr>   
      <tr>
          <th>第三人：</th>
          <td><span>$!{thirdnames}</span></td>
      </tr>
      <tr>
          <th>基本案情：</th>
          <td><span>$!{casebaseinfo.appcase}</span></td>
      </tr>
      <tr>
          <th>案件程序：</th>
          <td><span>$!{casebaseinfo.casesortname}</span></td>
      </tr>
      <tr id="isreviewtr">
          <th>是否委员审议：</th>
          <td><span>$!{casebaseinfo.isreviewname}</span></td>
      </tr>
      <tr id="isdiscusstr">
      		<th>是否集体讨论：</th>
      		<td><span>$!{casebaseinfo.isdiscussname}</span></td>
      </tr>
      <tr>
          <th>承办人意见：</th>
          <td><span>$!{agentRemark}</span></td>
      </tr>
      <tr>
          <th>科室负责人意见：</th>
           <td><span>$!{sectionRemark}</span></td>
      </tr>
      <tr>
          <th>机构负责人意见：</th>
          <td><span>$!{organRemark}</span></td>
      </tr>
      <tr>
          <th>机关负责人意见：</th>
           <td><span>$!{officeRemark}</span></td>
      </tr>       
  </table>
</form>