#parse("common/extensions-v14.vm")
<script type="text/javascript">
// 案件ID
var caseid = "$caseid";
// 流程节点编号
var nodeid = "$nodeid";
//流程类型
var protype = "$protype";
</script>
<script type="text/javascript" src="$contextpath/templates/aros/xzfy/js/textproduction_detail.js"></script>
<div style="width:100%;float:left;">
  <div style="width:45%;float:left;">
        <div>
	         <!-- 已有文书列表 -->
	        <div id="notice">
	           <table id="noticeDataGrid" class="easyui-datagrid" title="已有文书列表" style="height:473px;"></table>
	        </div>
	    </div>
  </div>
  <div style="width:55%;float:left;">
    <div>
	    <form id="noticeForm" method="post" style="margin-bottom:0px;">
	        <table class="list">
	            <tr>
	                <th>文书名称: </th>
	                <td>
	                     <input id="noticename" name="noticename" style="border:0px;" />
	                </td >
	            </tr>
	            <tr>
	                <th>文书编号: </th>
	                <td>
	                    <input id="noticecode" name="noticecode" style="border:0px;" />
	                </td >
	            </tr>
	            <tr>
	                <th>文书内容：</th>
	                <td>
	                    <div id="contents" name="contents" style="width:100%;height:415px;overflow:auto;"></div>
	               </td>
	            </tr>
	         </table>
         </form>
    </div>
  </div>
</div>