<!DOCTYPE html>
<html>


<head>
#set($contextpath = ${rc.contextPath})
<link rel="stylesheet" type="text/css" href="$contextpath/component/jquery-easyui-1.4/themes/default/easyui.css">
	<script type="text/javascript" src="$contextpath/component/jquery-easyui-1.4/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="$contextpath/component/jquery-easyui-1.4/jquery.easyui.min.js"></script>
	<script type="text/javascript" src="$contextpath/component/jquery-easyui-1.4/locale/easyui-lang-zh_CN.js"></script>
<title>错误提示</title>
<meta name="content-type" content="text/html; charset=UTF-8">
</head>

<style type='text/css'>
body{
	font-family:微软雅黑;
	font-size:12px;
}

div.timeout-notice{
	text-align:center;
	width:400px;
	height:200px;
	margin:auto;
	padding:auto;
}


</style>
<script type="text/javascript">
	var contextpath = "${rc.contextPath}/";
</script>
<body>
	<div id='topdiv' >
	</div>
	<div class='timeout-notice'>
		<div class="easyui-panel" split="false"  title='提示'>
			<div style='margin-top:20px;text-align:center'>
				访问当前页面报错，错误信息为："${exception}"<br/>
			</div>
		</div>
	</div>
</body>
</html>
