<!DOCTYPE>
<html>
	<head>
		#parse("common/common-v14.vm")
		#parse("common/extensions-v14.vm")
		<title>申请笔录</title>
		
		<script type="text/javascript" src="$contextpath/templates/aros/sqbl/js/applyRecordInfo_init.js"></script>
		<script type="text/javascript" src="$contextpath/templates/aros/common/arosCommon.js"></script>
		<script type="text/javascript">
			//菜单ID
			var menuid = "$menuid";
        </script>
		<style type="text/css">
			.cs-west{
        		width: 50%;
        		padding: 0;
        	}
        	.linkbutton_group{
        		border-bottom: 1px solid #95B8E7;
        	}
        </style>
    </head>
	
	<body id="layout" class="easyui-layout">
        <div data-options="region:'center',split:false">
			<div id="toolbar_center" class="toolbar_group">
				<input type="hidden" id="menuid" name="menuid" value="$menuid" />
				<div class="toolbar_buttons">
					<a id="openclose" onClick="javascript:panelctl_aros(0);" class="easyui-linkbutton" iconCls="icon-expand" plain="true" ></a>
					<span class='xian' ></span>
					<a href="#" id="queryBtn" class="easyui-linkbutton" iconCls="icon-search" plain="true" onClick="query()">查询</a>
					<span class='xian'></span>
					<a href="#" id="addBtn" class="easyui-linkbutton" iconCls="icon-search" plain="true" onClick="add()">新增笔录</a>
					<span class='xian'></span>
        			<a href="#" id="editBtn" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onClick="edit()">修改笔录</a>
        			<span class='xian' ></span>
        			<a href="#" id="viewBtn" class="easyui-linkbutton" iconCls="icon-detail" plain="true" onClick="detail()">详情</a>
					<span class='xian'></span>
        			<a href="#" id="delBtn" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onClick="_delete()">删除</a>
				</div>
				
				<div id="panel" class="easyui-panel collapsable-toolbar-w" collapsible="true" style="width:100%; border:0px;">
					<table  class="list" style='border:1px'>
						<tr>
							<td style="font-size:12px; border:0px; text-align:right;">是否发送：</td>
							<td style="font-size:12px; border:0px; text-align:left;">
								<input id="issend" class="easyui-textbox" style='width:150px'>
							</td>
							<td style="font-size:12px; border:0px; text-align:right;">是否发起案件：</td>
							<td style="font-size:12px; border:0px; text-align:left;">
								<input id="iscase" class="easyui-textbox" style='width:150px'>
							</td>
							
							<td style="font-size:12px; border:0px; text-align:right;">申请人：</td>
							<td style="font-size:12px; border:0px; text-align:left;">
								<input id="appname" class="easyui-textbox" style='width:150px'>
							</td>
							<td style="font-size:12px; border:0px; text-align:right">调查人：</td>
            				<td style="font-size:12px; border: 0px; text-align:left">
    							<input id="inquirer" class="easyui-textbox" style="width:150px">
    						</td>
    						<td style="border: 0px; text-align:right" align="right">创建时间：</td>
            				<td style="font-size:12px;border: 0px;text-align:left">
    						<input id="starttime" class="easyui-datebox" style='width:110px'  editable="false">
                            —
                            <input id="endtime" class="easyui-datebox" style='width:110px'  editable="false">
    						</td>
						</tr>
                    </table>
				</div>
			</div>
			<table id="dataGrid"></table>
		</div>
    </body>
</html>