#parse("common/extensions-v14.vm")
<script type="text/javascript">
var nodeid = "$nodeid";
var lawid = "$lawid";
var id = "$id";
</script>
<link href="$contextpath/component/uploadify/uploadify.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="$contextpath/component/uploadify/jquery.uploadify-3.1.min.js"></script>
<script type="text/javascript" src="$contextpath/templates/aros/xzys/js/casereview_form.js"></script>
<form id="xzysExamForm" method="post">
	<input id="lawid" name="lawid" type="hidden"  value="${lawid}"/>
	<input id="id" name="id" type="hidden" value="$!{respreviewinfo.id}"/>
	<table class="list">
		<tr>
			<th>案件事实：</th>
			<td>
			     <input id="caseact" class="easyui-textbox" multiline="true" name="caseact" value="$!{respreviewinfo.caseact}"
                  missingMessage="请填写案件事实" data-options="prompt:'最多可输入100个汉字',validType:{length:[0,100]}"  style="width: 500px;height:65px;" required="true"/>
                 <font color=red>*</font>
			</td>
		</tr>
        <tr>
            <th>争议焦点：</th>
            <td>
                 <input id="casefocus" class="easyui-textbox" multiline="true" name="casefocus" value="$!{respreviewinfo.casefocus}"
                   missingMessage="请填写争议焦点" data-options="prompt:'最多可输入100个汉字',validType:{length:[0,100]}"   style="width: 500px;height:65px;" required="true"/>
                 <font color=red>*</font>
            </td>
        </tr>
        <tr>
            <th>证件证据及法律依据：</th>
            <td>
                 <input id="remark" class="easyui-textbox" multiline="true" name="remark" value="$!{respreviewinfo.remark}"
                  missingMessage="请填写法律依据"  data-options="prompt:'最多可输入100个汉字',validType:{length:[0,100]}" style="width: 500px;height:65px;" required="true"/>
                 <font color=red>*</font>
            </td>
        </tr>
         <tr><td colspan="4" style="font-size: 13px;font-weight: bold;text-align: center;background-color:#EEF4FF;">附件信息 </td></tr>
	</table>
</form>
<!-- 附件管理 -->

<div style="width:100%;height:50%;">
    <div id="toolbar_menu" class="linkbutton_group datagrid-toolbar">
        <a id="linkbutton_cancel" href="#" class="easyui-linkbutton"  iconCls="icon-cancel" plain="true" onclick="_delete()">删除</a>
    </div>
    <table id="fileDataGrid"></table>
</div>
<!--上传附件层-->
<div id="uploadifydiv"></div>