#parse("common/extensions-v14.vm")
<style type='text/css'>
    input {
    	line-height:20px;
    	border:1px solid #95B8E7;
    }
</style>
<form id="dataForm" method="post">

	<div id="toolbar_center" class="toolbar_group" >
		<input type="hidden" id="menuid" name="menuid" value="$menuid" />
		<div id="qpanel1" class="easyui-panel collapsable-toolbar-w" collapsible="true" style="width:100%;border:0px;">
			<table  class="list" style='border:1px'>
                <tr>
					<th style='font-size:12px;border: 0px;text-align:left'>
						案号：<input id="lawid" class="easyui-textbox" style='width:150px' >
					</th>
                    <th style="width:50%;text-align:left;">
						<a href="#" id="searchBtn" class="easyui-linkbutton" iconCls="icon-search" plain="true">查询</a>
					</th>
   				</tr>
			</table>
		</div>
	</div>

	<table id="relatednumTable" ></table>
</form>    


