#parse("common/extensions-v14.vm")
<script type="text/javascript">
/**
 * 启用发送按钮
 */
function showSendBtn(){
	$("#sendBtn").linkbutton('enable'); // 可发送
}
</script>
<form id="xzfyDecideForm" method="post">
	<div>
    	<table class="list">
		<!--隐藏属性start-->
			<input type="hidden" id="ccrid" name="ccrid" value="$!{casechangereq.ccrid}"/><!--申请ID-->
			<input type="hidden" id="caseid" name="caseid" value="$!{casechangereq.caseid}"/><!--案件ID-->
		<!--隐藏属性end-->
    		<tr>
				<th>案件名称：</th>
    			<td colspan="3">
					<span>$!{casechangereq.intro}</span>
    			</td>
    		</tr>
			<tr>
				<th>申请人：</th>
    			<td>
    				<span>$!{casechangereq.appname}</span>
    			</td>
				<th>被申请人：</th>
    			<td>
    				<span>$!{casechangereq.defname}</span>
    			</td>
			</tr>
    		<tr>
    			<th>中止原因：</th>
    			<td colspan="3">
    				<input id="suspendreason" class="easyui-textbox" name="suspendreason" missingMessage="请选择中止理由" 
    					style="width:685px" value="$!{casechangereq.suspendreason}" readonly="true"/>
    			</td>
    		</tr>
			<tr>
    			<th>中止日期：</th>
    			<td colspan="3">
    				<input id="suspenddate" class="easyui-datebox" name="suspenddate" missingMessage="请选择中止日期" 
    					style="width:250px" value="$!{casechangereq.suspenddate}" readonly="true" editable="false"/>
    			</td>
    		</tr>
			<tr>
				<th>承办人意见：</th>
				<td colspan="3">
					<input id="agentRemark" name="agentRemark" class="easyui-textbox" multiline="true" value="$!{agentRemark}" 
						style="width:685px; height:65px;" missingMessage="请输入承办人意见" />
				</td>
            </tr>
            <tr>
				<th>科室负责人意见：</th>
                <td colspan="3">
					<input id="sectionRemark" name="sectionRemark" readonly="readonly" class="easyui-textbox" multiline="true" value="$!{sectionRemark}"
                       style="width:685px; height:65px;" missingMessage="请输入科室负责人意见" />
                </td>
            </tr>
            <tr>
				<th>机构负责人意见：</th>
                <td colspan="3">
					<input id="organRemark" name="organRemark" readonly="readonly" class="easyui-textbox" multiline="true" value="$!{organRemark}"
                       style="width:685px; height:65px;" missingMessage="请输入机构负责人意见" />
                </td>
             </tr>
             <tr>
				<th>机关负责人意见：</th>
                <td colspan="3">
					<input id="officeRemark" name="officeRemark" readonly="readonly" class="easyui-textbox" multiline="true" value="$!{officeRemark}"
                       style="width:685px; height:65px;" missingMessage="请输入机关负责人意见" />
                </td>
             </tr> 
			 <tr>
    			<th>处理结果：</th>
    			<td colspan="3">
    				<input id="result" class="easyui-textbox" name="result" required="true" missingMessage="请选择处理了结果" 
    					style="width:250px" value="$!{casechangereq.result}" />
    			</td>
    		</tr>
        </table>
	</div>
</form>