<!DOCTYPE>
<html>
<head>
#parse("common/common-v14.vm")
#parse("common/extensions-v14.vm")
<title>委员管理</title>
<script type="text/javascript" src="$contextpath/templates/common/component/doubleDatagridSelect.js" ></script>
<script type="text/javascript" src="$contextpath/templates/aros/zjgl/js/bgroupbaseinfo_init.js"></script>
<script type="text/javascript">
	var menuid = "$menuid";
</script>
<style type="text/css">
	.cs-west{
		width: 50%;
		padding: 0;
	}
	.linkbutton_group{
		border-bottom: 1px solid #95B8E7;
	}
	
	
	
</style>
</head>
<body id="layout" class="easyui-layout">
	 <div data-options="region:'center',split:false" >
        <div id="toolbar_center" class="toolbar_group" >
    		<input type="hidden" id="menuid" name="menuid" value="$menuid" />
			<div class="toolbar_buttons">
				<a href="#" class="easyui-linkbutton" iconCls="icon-search" plain="true" onClick="projectQuery()" >查询</a>
				<span class='xian' ></span>
    			<a href="#" id="addBtn" class="easyui-linkbutton" iconCls="icon-add" plain="true" onClick="projectAdd()">新增</a>
				<span class='xian' ></span>
    			<a href="#" id="editBtn" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onClick="projectUpdate()">修改</a>
				<span class='xian' ></span>
    			<a href="#" id="delBtn" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onClick="projectDelete()">删除</a>
				<span class='xian' ></span>
    			<a href="#" id="viewBtn" class="easyui-linkbutton" iconCls="icon-detail" plain="true" onClick="projectView()">详情</a>
    			<span class='xian' ></span>
    			<a href="#" id="creBtn" class="easyui-linkbutton" iconCls="icon-item" plain="true" onClick="projectCreate()">小组成员管理</a>
				<span class='xian' ></span>
            </div>
    		<div id="qpanel1" class="easyui-panel collapsable-toolbar-w" collapsible="true" style="width:100%;border:0px;">
				<table  class="list" style='border:1px'>
                    <tr>
        				<td style='font-size:12px;border: 0px;text-align:left'>
        					小组名称：<input id="groupname" class="easyui-textbox" style='width:150px' panelheight = "auto" />
        				</td>
        				
    				</tr>     
                    
				</table>
    		</div>
		</div>
		<table id="projectDataGrid"></table>
	 </div>    
</body>
</html>