#parse("common/extensions-v14.vm")
<style type='text/css'>
    input {
    	line-height:20px;
    	border:1px solid #95B8E7;
    	
    }
</style>
<link href="$contextpath/component/uploadify/uploadify.css" rel="stylesheet" type="text/css" /> 
<script type="text/javascript" src="$contextpath/templates/aros/common/arosCommon.js"></script>
<script type="text/javascript" src="$contextpath/templates/aros/lxfs/js/lxfsinfo_init.js"></script>
<script type="text/javascript" src="$contextpath/component/uploadify/jquery.uploadify-3.1.min.js"></script> 


<form id="lxfsForm" method="post">
    	<table class="list">
    		<!--隐藏属性start-->
    			<input type="hidden" id="id" name="id"/><!--案例ID-->
                <input type="hidden" id="menuid" name="menuid"/>
    		<!--隐藏属性end-->
			<tr>
    			<th>联系人:</th>
    			<td>
    				<input id="person" class="easyui-textbox" name="person" required="true" data-options="validType:{length:[0, 50]}" style="width:250px" missingMessage="请填写人称"/>
				    <span style="color:red">*</span>
                </td>
    			<th>地址:</th>
    			<td>
    				<input id="address" class="easyui-textbox" name="address" required="true" data-options="validType:{length:[0, 100]}"  style="width:250px" missingMessage="请填写地址"/>
				    <span style="color:red">*</span>
                </td>
    		</tr>
			
			<tr>
    			<th>机关名称:</th>
    			<td>
    				<input id="deptname" class="easyui-textbox" name="deptname" required="true" data-options="validType:{length:[0, 50]}" style="width:250px" missingMessage="请填写部门名称"   />
    			    <span style="color:red">*</span>
                </td>
    			<th>联系电话:</th>
    			<td>
    				<input id="phone" class="easyui-textbox" name="phone" validType="phone" required="true" style="width:250px" missingMessage="请填写电话"  />
    			    <span style="color:red">*</span>
                </td>
    		</tr>
            
            
            <tr>
                <th>X坐标:</th>
                <td>
                    <input id="xcoor" class="easyui-textbox" name="xcoor" required="true" validType="longitude" 
                        style="width:250px" missingMessage="请填写X坐标"   />
                    <span style="color:red">*</span>
                </td>
                <th>Y坐标:</th>
                <td>
                    <input id="ycoor" class="easyui-textbox" name="ycoor" required="true" validType="latitude" 
                        style="width:250px" missingMessage="请填写Y坐标"  />
                    <span style="color:red">*</span>
                </td>
            </tr>
            
			
        </table>
</form>
