<!DOCTYPE>
<html>
<head>
#parse("common/common-v14.vm")
<title>留言阅读管理</title>
<script type="text/javascript" src="$contextpath/templates/sys/notice/readNoticeInit.js"></script>
<script type="text/javascript" src="$contextpath/templates/fam/manage/common/accountCommon.js"></script>
<script type="text/javascript">

var messageType = "$messageType";
</script>
<style type="text/css">
	.cs-west{
		width: 50%;
		padding: 0;
	}
	.linkbutton_group{
		border-bottom: 1px solid #95B8E7;
	}
	textarea {
		display: block;
	}
</style>
#**
	公告留言发布，查看
	@author  songxiaojie 
	@date 2015年5月7日
*#
</head>
<body id="splayout" class="easyui-layout">
	 <div data-options="region:'center',split:false" >
        <div id="toolbar_account" class="toolbar_group" >
			<div class="toolbar_buttons">
    			##<a href="#" id="viewBtn" class="easyui-linkbutton" iconCls="icon-view" plain="true" onClick="readNotice()">查阅</a>
				##<span class='xian' ></span>
    			<a href="#" id="rebackBtn" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onClick="feedbackNotice()">反馈</a>
				<span class='xian' ></span>
            </div>
    		<div id="qpanel1" class="easyui-panel collapsable-toolbar-w" collapsible="true" >
					&nbsp;标题名称 <input id="title" class="easyui-textbox"  style="width:150px;" />
					发布时间 <input id="starttime" class="easyui-datebox"  style="width:120px;" /> 至
					<input id="endtime" class="easyui-datebox"  style="width:120px;" />
					<a href="#" id="queryBtn" class="easyui-linkbutton" iconCls="icon-search" plain="true" onClick="doQuery()" >查询</a>
				
    		</div>
		</div>
		<div id='dialog'></div>
		<table id="readMsgDataGrid"></table>
	 </div>    
</body>
</html>