#parse("common/extensions-v14.vm")
<script type="text/javascript" src="$contextpath/templates/aros/ajbg/zzfy/js/case_init.js"></script>

    <div data-options="region:'center',split:false">
    	<div id="toolbar_center" class="toolbar_group">
    		<input type="hidden" id="menuid" name="menuid" value="$menuid" />
    		<div class="toolbar_buttons">
                <a href="#" class="easyui-linkbutton" iconCls="icon-search" plain="true" onClick="xzfyQuery()">查询</a>
            </div>
    		
    		<div id="xzfyPanel" class="easyui-panel collapsable-toolbar-w" collapsible="true" style="width:100%; border:0px;">
    			<table  class="list" style='border:1px' >
    				<tr>
						<td style="font-size:12px; border:0px; text-align:right;">案件编号：</td>
                        <td style="font-size:12px; border:0px; text-align:left;">
                            <input id="csaecode" class="easyui-textbox" style='width:150px'>
                        </td>
    					<td style="font-size:12px; border:0px; text-align:right;">申请人：</td>
    					<td style="font-size:12px; border:0px; text-align:left;">
    						<input id="appname" class="easyui-textbox" style='width:150px'>
    					</td>
    					<td style="border: 0px; text-align:right" align="right">被申请人：</td>
        				<td style="font-size:12px;border: 0px;text-align:left">
    						<input id="defname" class="easyui-textbox" style='width:150px'>
    					</td>
    				</tr>
                </table>
    		</div>
    	</div>
    	
    	<div style="height:100%;width:100%;">
    		<table id="datalist"></table>
    	</div>
    </div>
