<!DOCTYPE>
<html>
	<head>
		#parse("common/common-v14.vm")
		#parse("common/extensions-v14.vm")
		<title>流程节点配置</title>
		
		<script type="text/javascript" src="$contextpath/templates/aros/flow/js/pronodebaseinfo_init.js"></script>
		<script type="text/javascript" src="$contextpath/templates/aros/common/arosCommon.js"></script>
		<script type="text/javascript">
			//菜单ID
			var menuid = "$menuid";
        </script>
		<style type="text/css">
			.cs-west{
        		width: 50%;
        		padding: 0;
        	}
        	.linkbutton_group{
        		border-bottom: 1px solid #95B8E7;
        	}
        </style>
    </head>
	
	<body id="layout" class="easyui-layout">
        <div data-options="region:'center',split:false">
			<div id="toolbar_center" class="toolbar_group">
				
				<input type="hidden" id="menuid" name="menuid" value="$menuid" />
				
				<div class="toolbar_buttons">
					<a id="openclose" onClick="javascript:panelctl_aros(0);" class="easyui-linkbutton" iconCls="icon-expand" plain="true" ></a>
					<span class='xian' ></span>
					<a href="#" class="easyui-linkbutton" iconCls="icon-search" plain="true" onClick="pronodebaseinfoQuery()">查询</a>
					<span class='xian'></span>
					<a href="#" id="addBtn" class="easyui-linkbutton" iconCls="icon-add" plain="true" onClick="pronodebaseinfoAdd()">新增</a>
    				<span class='xian' ></span>
        			<a href="#" id="editBtn" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onClick="pronodebaseinfoEdit()">修改</a>
    				<span class='xian' ></span>
        			<a href="#" id="delBtn" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onClick="pronodebaseinfoDelete()">删除</a>
    				<span class='xian' ></span>
        			<a href="#" id="viewBtn" class="easyui-linkbutton" iconCls="icon-detail" plain="true" onClick="pronodebaseinfoView()">详情</a>
				</div>
				
				<div id="pronodebaseinfoPanel" class="easyui-panel collapsable-toolbar-w" collapsible="true" style="width:100%; border:0px;">
					<table class="list" style='border:1px'>
						<tr>
							<td style="font-size:12px; border:0px; text-align:right">流程类型：</td>
            				<td style="font-size:12px; border: 0px; text-align:left">
    							<input id="protype" class="easyui-combobox" style="width:150px">
    						</td>
						</tr>
                    </table>
				</div>
			</div>
			
			<table id="pronodebaseinfoDataGrid"></table>
		</div>
    </body>
</html>