#parse("common/extensions-v14.vm")
<link href="$contextpath/component/uploadify/uploadify.css" rel="stylesheet" type="text/css" /> 
<script type="text/javascript" src="$contextpath/component/uploadify/jquery.uploadify-3.1.min.js"></script>	
<script type="text/javascript" src="$contextpath/templates/aros/wtcl/js/bwebquesbaseinfo_init.js"></script>

<style type='text/css'>
input {
	line-height:20px;
	border:1px solid #95B8E7;
}
</style>
<form id="projectViewForm" method="post">
	<table class="list">
    				
			<tr>
    			<th >问题描述：</th>
    			<td colspan="3">
    				<input id="quesdesc" class="easyui-textbox" name="quesdesc" readonly="true"
						 data-options="validType:{length:[0,300]}" style='width:645px;height:90px;' multiline="true"/>
    			</td >    			
    		</tr>
    		<tr>
    			<th >问题回复：</th>
    			<td colspan="3">
    				<input id="answer" class="easyui-textbox" name="answer"  readonly="true"
						 data-options="validType:{length:[0,300]}" style='width:645px;height:300px;' multiline="true"/>
    			</td >    			
    		</tr>
    </table>
</form>

