<!DOCTYPE>
<html>
<head>
#parse("common/common-v14.vm")
#parse("common/extensions-v14.vm")
<script type="text/javascript" src="$contextpath/templates/sys/paramCfgEntry.js"></script>
<title>日志管理</title>
<style type="text/css">
	.linkbutton_group {
        border-bottom: 1px solid #95B8E7;
        background-color: #eee;
    }
</style>

</head>
<body id="layout" class="easyui-layout">
	<div region="center" border="false" >
		<div id="toolbar_paramCfg" class="toolbar_group">
			<div class="toolbar_buttons">
				<a id="openclose" onClick="javascript:panelctl(0);" class="easyui-linkbutton" iconCls="icon-expand" plain="true" ></a>
				<span class='xian' ></span>
				<a id="btn_remove" href="#" class="easyui-linkbutton" iconCls="icon-add" plain="true" onClick="addParam()">新增</a>
				<span class='xian' ></span>
				<a id="btn_remove" href="#" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onClick="editParam()">修改</a>
				<span class='xian' ></span>
				<a id="btn_remove" href="#" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onClick="deleteParam()">删除</a>
			</div>
			<div id="qpanel1" class="easyui-panel collapsable-toolbar-w" collapsible="true" >
				&nbsp;子系统或模块：<input class="easyui-combobox" id="scenecode_query" />
				参数编码：<input class="easyui-textbox" id="paramcode" />&nbsp;参数名称：<input class="easyui-textbox" id="paramname" />
				<a href="#" class="easyui-linkbutton" iconCls="icon-search" plain="false" onClick="queryParam()">查询</a>
			</div>
		</div>
		<table id="datagrid_param"></table>
	</div>
</body>
</html>