<!--socaud_init.vm-->
<!DOCTYPE>
<html>
<head>
#parse("common/common-v14.vm")
#parse("common/extensions-v14.vm")
<script type="text/javascript" src="$contextpath/templates/sys/regist/js/socaud_init.js"></script>
<title>社会资本注册</title>
<script type="text/javascript">
var menuid = "$menuid";
</script>
<style type="text/css">
	.linkbutton_group {
        border-bottom: 1px solid #95B8E7;
        background-color: #eee;
    }
</style>
</head>

<body id="layout" class="easyui-layout">
	<div region="center" >
		<div id="toolbar_socaud" class="toolbar_group">
			<input type="hidden" id="menuid" name="menuid" value="$menuid" />
			<div class="toolbar_buttons">
				<!--<a id="openclose" onClick="javascript:panelctlForFam(0);" class="easyui-linkbutton" iconCls="icon-collapse" plain="true" ></a>-->
				<span class='xian' ></span>
				<a id="btn_query" href="#" class="easyui-linkbutton" iconCls="icon-search" plain="true" onClick="qrySocAud()">查询</a>
				<span class='xian' ></span>
				<a id="btn_app" href="#" class="easyui-linkbutton" iconCls="icon-redo" plain="true" onClick="editSocAud()">审批</a>
				<span class='xian' ></span>
				<a id="btn_ref" href="#" class="easyui-linkbutton" iconCls="icon-undo" plain="true" onClick="refuseSocAud()">拒绝</a>
				<span class='xian' ></span>
				<a id="btn_del" href="#" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onClick="delSocAud()">作废</a>
				<span class='xian' ></span>
				<a id="btn_view" href="#" class="easyui-linkbutton" iconCls="icon-view" plain="true" onClick="detSocAud()">详情</a>
			</div>
			<div id="qpanel1" class="easyui-panel collapsable-toolbar " collapsible="true" style="width:100%;padding:1px">
				<table style='width:100%'>
					<tr>
        				<td style='font-size:12px;text-align:end;width:8%;white-space: nowrap' >状态</td>
        				<td style='font-size:12px;width:22%' ><input id="status" panelheight = "auto" class="easyui-combobox" style="width:97%;" /></td>
						<td style='font-size:12px;text-align:end;width:12%;white-space: nowrap' >联系人</td>
        				<td style='font-size:12px;width:23%' ><input id="linkpersoon" class="easyui-textbox" style="width:97%;" /></td>
						<td style='font-size:12px;text-align:end;width:12%;white-space: nowrap' >联系人电话</td>
        				<td style='font-size:12px;width:23%' ><input id="linkphone" class="easyui-textbox" style="width:97%;" /></td>
    				</tr>
                    <tr>
						<td style='font-size:12px;text-align:end;width:8%;white-space: nowrap'>用户code</td>
        				<td style='font-size:12px;width:22%'><input id="usercode" class="easyui-textbox" style="width:97%" /></td>
        				<td style='font-size:12px;text-align:end;width:12%;white-space: nowrap'>社会资本名称</td>
        				<td style='font-size:12px;width:23%'><input id="orgname" class="easyui-textbox"  style="width:97%" /></td>
        				<td style='font-size:12px;text-align:end;width:12%;white-space: nowrap'>组织机构代码</td>
        				<td style='font-size:12px;width:23%'><input id="orgcode" class="easyui-textbox"  style="width:97%"  multiple="true" /></td>
    				</tr>      
				</table>
			</div>
		</div>
		<table id="datagrid_socaud"></table>
	</div>
	
</body>
</html>